.bodyGrade {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #CEE3F6;
	/*gradient */
	background: rgb(240, 249, 255); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(240, 249, 255, 1) 0%,
		rgba(203, 235, 255, 1) 47%, rgba(161, 219, 255, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(240,
		249, 255, 1)), color-stop(47%, rgba(203, 235, 255, 1)),
		color-stop(100%, rgba(161, 219, 255, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(240, 249, 255, 1) 0%,
		rgba(203, 235, 255, 1) 47%, rgba(161, 219, 255, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(240, 249, 255, 1) 0%,
		rgba(203, 235, 255, 1) 47%, rgba(161, 219, 255, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(240, 249, 255, 1) 0%,
		rgba(203, 235, 255, 1) 47%, rgba(161, 219, 255, 1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(240, 249, 255, 1) 0%,
		rgba(203, 235, 255, 1) 47%, rgba(161, 219, 255, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff',
		endColorstr='#a1dbff', GradientType=1); /* IE6-9 */
}

.form-signin {
	max-width: 350px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 15px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.borderedDiv {
	width: 400px;
	height: 450px;
	border: 1px solid;
	border-color: #819FF7;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #888888;
	background-color: #FFF;
	padding-top: 25px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 15px
}
.colorUserPwd{
	color:#0033CC;
}
