@media ( min-width : 1200px) {
	.container {
		max-width: 1130px;
	}
}

/* Portrait & landscape phone */
@media ( max-width : 480px) {
	h3 {
		font-size: 25px;
	}
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and
	(-webkit-min-device-pixel-ratio: 2) {
	h3 {
		font-size: 20px;
	}
}

/* Portrait & landscape phone */
@media ( max-width : 480px) {
	#searchInput {
		width: 300px;
	}
	h3 {
		font-size: 20px;
	}
}

/* Landscape phone to portrait tablet */
@media ( max-width : 768px) {
	#searchInput {
		width: 300px;
	}
}

/* Large desktop */
@media ( min-width : 1200px) {
}

.list-group {
	width: 100%;
}

@media ( max-width : 990px) {
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-nav {
		float: none !important;
		margin: 7.5px -15px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	/* since 3.1.0 */
	.navbar-collapse.collapse.in {
		display: block !important;
	}
	.collapsing {
		overflow: hidden !important;
	}
}

body {
	padding-top: 10px;
}

.bodypadding {
	padding-bottom: 5px;
}

.topPaddingSmall {
	padding-top: 5px;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #ccc;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: 0%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

/*Cycle Calendar*/
#cycleCalendar td:hover {
	cursor: pointer;
}

#rxr1:hover {
	cursor: pointer;
}

#rxr2:hover {
	cursor: pointer;
}

#payer1:hover {
	cursor: pointer;
}

#payer2:hover {
	cursor: pointer;
}

#agrement1:hover {
	cursor: pointer;
}

#invoice1:hover {
	cursor: pointer;
}

#invoice2:hover {
	cursor: pointer;
}

#uinvoice1:hover {
	cursor: pointer;
}

#uinvoice2:hover {
	cursor: pointer;
}

#cn1:hover {
	cursor: pointer;
}

#cn2:hover {
	cursor: pointer;
}

.table tbody th {
	color: #ffffff;
	background-color: #008AE6 !important;
	border-color: #819FF7 !important;
}

.table tbody td {
	border-color: #819FF7 !important;
}

h3 {
	color: #3366CC;
}

h4 {
	color: #3366CC;
}

.customTabBorderBlue {
	border-color: #819FF7 !important;
}

#positionDetails td:hover {
	cursor: pointer;
}

/*lisgroup border color*/
.list-group-item {
	border: 1px solid #819FF7;
}

#outstandingRx td:hover {
	cursor: pointer;
}

#tobaPaid td:hover {
	cursor: pointer;
}

#outstanding td:hover {
	cursor: pointer;
}

.fundingTab {
	margin: 20px;
}

/*Curved table*/
.table-curved {
	border-collapse: separate;
	border: solid #ddd 1px;
	border-radius: 6px;
	border-left: 0px;
	border-top: 0px;
}

.table-curved>thead:first-child>tr:first-child>th {
	border-bottom: 0px;
	border-top: solid #ddd 1px;
}

.table-curved td, .table-curved th {
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

.table-curved>:first-child>:first-child>:first-child {
	border-top-left-radius: 5px;
}

.table-curved>:first-child>:first-child>:last-child {
	border-top-right-radius: 5px;
}

.table-curved>:last-child>:last-child>:first-child {
	border-bottom-left-radius: 5px;
}

.table-curved>:last-child>:last-child>:last-child {
	border-bottom-right-radius: 5px;
}

.breadcrumb>li+li:before {
	color: rgba(204, 204, 204, 1);
	content: "\232A\00a0";
}

#settingDiv {
	border: 1px solid #a1a1a1;
	height: 700px;
	border-radius: 5px;
	border-color: #819FF7 !important;
	padding: 3px 20px;
}

hr {
	color: #3366CC;
	background: #3366CC;
	height: 1px;
}

/*search box*/
#imaginary_container{
    margin-top:10%;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
/*search box ends*/

/*auto complete*/
.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

/*types ahead*/
.bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 100px;
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}