@media ( min-width : 1200px) {
	.container {
		max-width: 1130px;
	}
}

/* Portrait & landscape phone */
@media ( max-width : 480px) {
	h3 {
		font-size: 25px;
	}
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and
	(-webkit-min-device-pixel-ratio: 2) {
	h3 {
		font-size: 20px;
	}
}

/* Portrait & landscape phone */
@media ( max-width : 480px) {
	#searchInput {
		width: 300px;
	}
	h3 {
		font-size: 20px;
	}
}

/* Landscape phone to portrait tablet */
@media ( max-width : 768px) {
	#searchInput {
		width: 300px;
	}
}

/* Large desktop */
@media ( min-width : 1200px) {
}

.list-group {
	width: 100%;
}

@media ( max-width : 990px) {
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-nav {
		float: none !important;
		margin: 7.5px -15px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	/* since 3.1.0 */
	.navbar-collapse.collapse.in {
		display: block !important;
	}
	.collapsing {
		overflow: hidden !important;
	}
}

body {
	padding-top: 10px;
}

.bodypadding {
	padding-bottom: 5px;
}

.topPaddingSmall {
	padding-top: 5px;
}

.topPaddingLarge {
	padding-top: 25px;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #ccc;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: 0%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

/*Cycle Calendar*/
#cycleCalendar td:hover {
	cursor: pointer;
}

#rxr1:hover {
	cursor: pointer;
}

#rxr2:hover {
	cursor: pointer;
}

#payer1:hover {
	cursor: pointer;
}

#payer2:hover {
	cursor: pointer;
}

#agrement1:hover {
	cursor: pointer;
}

#invoice1:hover {
	cursor: pointer;
}

#invoice2:hover {
	cursor: pointer;
}

#uinvoice1:hover {
	cursor: pointer;
}

#uinvoice2:hover {
	cursor: pointer;
}

#cn1:hover {
	cursor: pointer;
}

#cn2:hover {
	cursor: pointer;
}

.table tbody th {
	color: #ffffff;
	background-color: #008AE6 !important;
	border-color: #819FF7 !important;
}

.table tbody td {
	border-color: #819FF7 !important;
}

h3 {
	color: #3366CC;
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode',
		'Lucida Sans', Tahoma, sans-serif;
}

h4 {
	color: #3366CC;
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode',
		'Lucida Sans', Tahoma, sans-serif;
}

.customTabBorderBlue {
	border-color: #819FF7 !important;
}

#positionDetails td:hover {
	cursor: pointer;
}

/*lisgroup border color*/
.blueBorder {
	border: 1px solid #819FF7;
}

#outstandingRx td:hover {
	cursor: pointer;
}

#tobaPaid td:hover {
	cursor: pointer;
}

#outstanding td:hover {
	cursor: pointer;
}

.fundingTab {
	margin: 20px;
}

/*Curved table*/
.table-curved {
	border-collapse: separate;
	border: solid #ddd 1px;
	border-radius: 6px;
	border-left: 0px;
	border-top: 0px;
}

.table-curved>thead:first-child>tr:first-child>th {
	border-bottom: 0px;
	border-top: solid #ddd 1px;
}

.table-curved td, .table-curved th {
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

.table-curved>:first-child>:first-child>:first-child {
	border-top-left-radius: 5px;
}

.table-curved>:first-child>:first-child>:last-child {
	border-top-right-radius: 5px;
}

.table-curved>:last-child>:last-child>:first-child {
	border-bottom-left-radius: 5px;
}

.table-curved>:last-child>:last-child>:last-child {
	border-bottom-right-radius: 5px;
}

.breadcrumb>li+li:before {
	color: rgba(204, 204, 204, 1);
	content: "\232A\00a0";
}

#settingDiv {
	border: 1px solid #a1a1a1;
	border-radius: 5px;
	border-color: #819FF7 !important;
	padding: 3px 20px;
}

.settingDivCustomerMod {
	height: 250px;
	border: 1px solid #a1a1a1;
	border-radius: 5px;
	border-color: #819FF7 !important;
	padding: 3px 20px;
}

hr {
	color: #3366CC;
	background: #3366CC;
	height: 1px;
}

/*search box*/
#imaginary_container {
	margin-top: 10%;
}

.stylish-input-group .input-group-addon {
	border: 1px solid #3366CC;
	background: white !important;
}

.stylish-input-group .input-group-btn {
	border: 1px solid #3366CC;
	background: white !important;
}

.stylish-input-group .form-control {
	border-right: 0;
	padding-right: 0;
	box-shadow: 0 0 0;
	border-color: #3366CC;
	box-shadow: 0 0 0;
}

.stylish-input-group button {
	border: 0;
	background: transparent;
}

/*for the client operator*/
.stylish-input-groupOper .input-group-addon {
	border: 1px solid #3366CC;
	background: white !important;
}

.stylish-input-groupOper .input-group-btn {
	border: 0px solid #3366CC;
	background: white !important;
}

.stylish-input-groupOper .form-control {
	border-right: 0;
	padding-right: 0;
	box-shadow: 0 0 0;
	border-color: #3366CC;
	box-shadow: 0 0 0;
}

.stylish-input-groupOper button {
	border: 0px;
	background: transparent;
}

.stylish-input-groupOper btn {
	border: 1px solid #3366CC;
	background: transparent;
}

/*operator page - ends */
.stylish-input-group-no-lfb .input-group-addon {
	borde-left: 0px;
	border-right: 1px solid #3366CC;
	border-top: 1px solid #3366CC;
	border-bottom: 1px solid #3366CC;
	background: white !important;
}

.stylish-input-group-no-lfb .input-group-btn {
	borde-left: 0px;
	border-right: 1px solid #3366CC;
	border-top: 1px solid #3366CC;
	border-bottom: 1px solid #3366CC;
	background: white !important;
}

.stylish-input-group-no-lfb .form-control {
	border-right: 1;
	padding-right: 0;
	box-shadow: 0 0 0;
	border-color: #3366CC;
	box-shadow: 0 0 0;
}

.stylish-input-group-no-lfb button {
	border: 0;
	background: transparent;
}

/*Change search drop-down colour to blue - for search page*/
.ui-autocomplete {
	border-color: #3366CC !important;
}

.input-large {
	width: 450px !important;
}

.blueBorderDiv {
	border: 1px solid #a1a1a1;
	border-radius: 5px;
	border-color: #819FF7 !important;
	padding: 3px 20px;
}

.searchPlus:hover {
	cursor: pointer;
}

.hiddenDiv {
	display: none;
}

/*div with title at border*/
.titleAtBorder {
	color: #3366CC;
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode',
		'Lucida Sans', Tahoma, sans-serif;
	border: 1px solid #3366CC;
	width: 100%;
	height: 30px;
}

.searchResults {
	padding: 50px;
}

.clientTile {
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode',
		'Lucida Sans', Tahoma, sans-serif;
	border: 1px solid #fff;
	height: 240px;
	width: 200px;
	border-color: #fff !important;
}

.clientTile:hover {
	border: 1px solid #CCCC00;
	height: 240px;
	width: 200px;
	cursor: pointer;
	border-color: #CCCC00 !important;
}

.clientTopRight {
	text-align: right;
}

.bottomBorderDiv {
	border-bottom: 1px solid #3366CC;
}

._pointer:hover {
	cursor: pointer;
}

.fontSmall {
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	size: 2;
}